In [3]:
import pandas as pd
pd.read_csv("bmi_train.csv")

    Gender  Height  Weight  Index
0     Male     161      89      4
1     Male     179     127      4
2     Male     172     139      5
3     Male     153     104      5
4     Male     165      68      2
..     ...     ...     ...    ...
395   Male     166     160      5
396   Male     145     130      5
397   Male     178     138      5
398   Male     168     158      5
399   Male     161     155      5

[400 rows x 4 columns]

data work test