In [1]:
import pandas as pd

In [2]:
covida=pd.read_csv("covid_19_data2.csv")

In [20]:
covida

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,totalconfirmed
0,1,1/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0,
1,2,1/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0,
2,3,1/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0,
3,4,1/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0,
4,5,1/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0,
...,...,...,...,...,...,...,...,...,...
306424,306425,5/29/2021,Zaporizhia Oblast,Ukraine,5/30/2021 4:20,102641,2335,95289,
306425,306426,5/29/2021,Zeeland,Netherlands,5/30/2021 4:20,29147,245,0,
306426,306427,5/29/2021,Zhejiang,Mainland China,5/30/2021 4:20,1364,1,1324,
306427,306428,5/29/2021,Zhytomyr Oblast,Ukraine,5/30/2021 4:20,87550,1738,83790,
306428,306429,5/29/2021,Zuid-Holland,Netherlands,5/30/2021 4:20,391559,4252,0,

In [14]:
covida.isna()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
306424,False,False,False,False,False,False,False,False
306425,False,False,False,False,False,False,False,False
306426,False,False,False,False,False,False,False,False
306427,False,False,False,False,False,False,False,False
306428,False,False,False,False,False,False,False,False

In [3]:
covida.dtypes

SNo                 int64
ObservationDate    object
Province/State     object
Country/Region     object
Last Update        object
Confirmed           int64
Deaths              int64
Recovered           int64
dtype: object

In [4]:
covida.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [5]:
covida[["Province/State","Country/Region","ObservationDate"]]

           Province/State  Country/Region ObservationDate
0                   Anhui  Mainland China       1/22/2020
1                 Beijing  Mainland China       1/22/2020
2               Chongqing  Mainland China       1/22/2020
3                  Fujian  Mainland China       1/22/2020
4                   Gansu  Mainland China       1/22/2020
...                   ...             ...             ...
306424  Zaporizhia Oblast         Ukraine       5/29/2021
306425            Zeeland     Netherlands       5/29/2021
306426           Zhejiang  Mainland China       5/29/2021
306427    Zhytomyr Oblast         Ukraine       5/29/2021
306428       Zuid-Holland     Netherlands       5/29/2021

[306429 rows x 3 columns]

In [6]:
covida.isna()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
306424,False,False,False,False,False,False,False,False
306425,False,False,False,False,False,False,False,False
306426,False,False,False,False,False,False,False,False
306427,False,False,False,False,False,False,False,False
306428,False,False,False,False,False,False,False,False

In [12]:
covidafill=covida.fillna(0)

In [19]:
covida["totalconfirmed"]=""

In [22]:
covida.loc[covida["Confirmed"]==0]

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,totalconfirmed
4,5,1/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0,
10,11,1/22/2020,Heilongjiang,Mainland China,1/22/2020 17:00,0,0,0,
12,13,1/22/2020,Hong Kong,Hong Kong,1/22/2020 17:00,0,0,0,
15,16,1/22/2020,Inner Mongolia,Mainland China,1/22/2020 17:00,0,0,0,
18,19,1/22/2020,Jilin,Mainland China,1/22/2020 17:00,0,0,0,
...,...,...,...,...,...,...,...,...,...
306368,306369,5/29/2021,Unknown,Mainland China,5/30/2021 4:20,0,0,10,
306369,306370,5/29/2021,Unknown,Mexico,5/30/2021 4:20,0,0,1924865,
306371,306372,5/29/2021,Unknown,Peru,5/30/2021 4:20,0,0,1897522,
306372,306373,5/29/2021,Unknown,Spain,5/30/2021 4:20,0,0,0,
306373,306374,5/29/2021,Unknown,UK,5/30/2021 4:20,0,0,0,

In [24]:
covida["Confirmed"].sum()

26252051758

In [35]:
covida["Confirmed"].value_counts

<bound method IndexOpsMixin.value_counts of 0              1
1             14
2              6
3              1
4              0
           ...
306424    102641
306425     29147
306426      1364
306427     87550
306428    391559
Name: Confirmed, Length: 306429, dtype: int64>

In [25]:
covida["Deaths"].sum()

624013017

In [31]:
covida["Recovered"].sum()

15450237912

In [34]:
covida.loc[covida["Country/Region"]=="Mainland China"]

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,totalconfirmed
0,1,1/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0,
1,2,1/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0,
2,3,1/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0,
3,4,1/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0,
4,5,1/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0,
...,...,...,...,...,...,...,...,...,...
306340,306341,5/29/2021,Tibet,Mainland China,5/30/2021 4:20,1,0,1,
306368,306369,5/29/2021,Unknown,Mainland China,5/30/2021 4:20,0,0,10,
306412,306413,5/29/2021,Xinjiang,Mainland China,5/30/2021 4:20,980,3,977,
306420,306421,5/29/2021,Yunnan,Mainland China,5/30/2021 4:20,352,2,331,
306426,306427,5/29/2021,Zhejiang,Mainland China,5/30/2021 4:20,1364,1,1324,