pandas is used for exploratory data analytics, machine learning, cleaning etc.b
to read type pd.read(then tab key)

In [46]:
import pandas as pd
data = pd.read_html("https://en.wikipedia.org/wiki/List_of_most_visited_websites")

In [47]:
#stores the second page as variabe page1
# you must store as a variable then depending on the number of tables on the page you use number to display them[1,2,3]
page1=data[1]

In [3]:
page1

,Site,Domain Name,Similarweb top 50websites ranking(As of JuneÂ 2023[1],Category,Principal country/territory
0,Google Search,google.com,1 (),Computers Electronics and Technology > Search ...,United States
1,YouTube,youtube.com,2 (),Arts & Entertainment > Streaming & Online TV,United States
2,Facebook,facebook.com,3 (),Computers Electronics and Technology > Social ...,United States
3,Instagram,instagram.com,4 (1),Computers Electronics and Technology > Social ...,United States
4,Twitter,twitter.com,5 (1),Computers Electronics and Technology > Social ...,United States
5,Baidu,baidu.com,6 (),Computers Electronics and Technology > Search ...,China
6,Wikipedia,wikipedia.org,7 (),Reference Materials > Dictionaries and Encyclo...,United States
7,Yahoo,yahoo.com,8 (1),News & Media Publishers,United States
8,Yandex,yandex.ru,9 (1),Computers Electronics and Technology > Search ...,Russia
9,WhatsApp,whatsapp.com,10 (),Computers Electronics and Technology > Social ...,United States
10,xVideos,xvideos.com,11 (),Adult,France
11,Pornhub,pornhub.com,12 (),Adult,Canada
12,Amazon,amazon.com,13 (1),eCommerce & Shopping > Marketplace,United States
13,XNXX,xnxx.com,14 (1),Adult,France
14,TikTok,tiktok.com,15 (),Computers Electronics and Technology > Social ...,China
15,Yahoo JP,yahoo.co.jp,16 (2),News & Media Publishers,Japan
16,Live,live.com,17 (1),Computers Electronics and Technology > Email,United States
17,Docomo,docomo.ne.jp,18 (1),Computers Electronics and Technology > Telecom...,Japan
18,LinkedIn,linkedin.com,19 (2),Computers Electronics and Technology > Social ...,United States
19,OpenAI,openai.com,20 (3),Computers Electronics and Technology > Compute...,United States
20,Reddit,reddit.com,21 (1),Computers Electronics and Technology > Social ...,United States
21,Netflix,netflix.com,22 (2),Arts & Entertainment > Streaming & Online TV,United States
22,Zen News,dzen.ru,23 (),Community and Society > Community and Society ...,Russia
23,Microsoft 365,office.com,24 (2),Computers Electronics and Technology > Program...,United States
24,VK,vk.com,25 (),Computers Electronics and Technology > Social ...,Russia
25,Weather,weather.com,26 (6),Science and Education > Weather,United States
26,Bing,bing.com,27 (),Computers Electronics and Technology > Search ...,United States
27,xHamster,xhamster.com,28 (2),Adult,Cyprus
28,Naver,naver.com,29 (1),News & Media Publishers,South Korea
29,Yandex Turbo Pages,turbopages.org,30 (1),News & Media Publishers,Russia
30,Mail.Ru,mail.ru,31 (1),Computers Electronics and Technology > Email,Russia
31,Samsung,samsung.com,32 (3),Computers Electronics and Technology > Consume...,South Korea
32,Discord,discord.com,33 (1),Computers Electronics and Technology > Social ...,United States
33,Max,max.com,34 (62),Arts & Entertainment > Streaming & Online TV,United States
34,Twitch,twitch.tv,35 (),Games > Video Games Consoles and Accessories,United States
35,Microsoft Online,microsoftonline.com,36 (3),Computers Electronics and Technology > Program...,United States
36,RealSRV,realsrv.com,37 (),Adult,United States
37,Pinterest,pinterest.com,38 (2),Computers Electronics and Technology > Social ...,United States
38,Bilibili,bilibili.com,39 (1),Arts & Entertainment > Animation and Comics,China
39,Microsoft,microsoft.com,40 (1),Computers Electronics and Technology > Program...,United States
40,Roblox,roblox.com,41 (3),Games > Video Games Consoles and Accessories,United States
41,Zoom,zoom.us,42 (2),Computers Electronics and Technology > Compute...,United States
42,DuckDuckGo,duckduckgo.com,43 (2),Computers Electronics and Technology > Search ...,United States
43,QQ,qq.com,44 (2),News & Media Publishers,China
44,MSN,msn.com,45 (3),News & Media Publishers,United States
45,Stripchat,stripchat.com,46 (1),Adult,Cyprus
46,Fandom,fandom.com,47 (2),Arts & Entertainment > Arts and Entertainment ...,United States
47,Quora,quora.com,48 (5),Reference Materials > Dictionaries and Encyclo...,United States
48,eBay,ebay.com,49 (),eCommerce & Shopping > Marketplace,United States
49,Globo,globo.com,50 (4),News & Media Publishers,Brazil

In [4]:
# ".shape" conerts the page to shape to show the number of columns and rows
page1.shape

(50, 5)

In [5]:
# .columns shows all the columns in the site
page1.columns

Index(['Site', 'Domain Name',
       'Similarweb top 50websites ranking(As of JuneÂ 2023[1]', 'Category',
       'Principal country/territory'],
      dtype='object')

In [6]:
# get datatypes of columns in the dataframe. objevct means strings
page1.dtypes

Site                                                    object
Domain Name                                             object
Similarweb top 50websites ranking(As of JuneÂ 2023[1]    object
Category                                                object
Principal country/territory                             object
dtype: object

In [7]:
# extract a column
page1["Site"]

0          Google Search
1                YouTube
2               Facebook
3              Instagram
4                Twitter
5                  Baidu
6              Wikipedia
7                  Yahoo
8                 Yandex
9               WhatsApp
10               xVideos
11               Pornhub
12                Amazon
13                  XNXX
14                TikTok
15              Yahoo JP
16                  Live
17                Docomo
18              LinkedIn
19                OpenAI
20                Reddit
21               Netflix
22              Zen News
23         Microsoft 365
24                    VK
25               Weather
26                  Bing
27              xHamster
28                 Naver
29    Yandex Turbo Pages
30               Mail.Ru
31               Samsung
32               Discord
33                   Max
34                Twitch
35      Microsoft Online
36               RealSRV
37             Pinterest
38              Bilibili
39             Microsoft
40                Roblox
41                  Zoom
42            DuckDuckGo
43                    QQ
44                   MSN
45             Stripchat
46                Fandom
47                 Quora
48                  eBay
49                 Globo
Name: Site, dtype: object

In [8]:
#extract mutiple columns is done by using mutiple brackets [[]]
page1[["Site","Category","Principal country/territory"]]

,Site,Category,Principal country/territory
0,Google Search,Computers Electronics and Technology > Search ...,United States
1,YouTube,Arts & Entertainment > Streaming & Online TV,United States
2,Facebook,Computers Electronics and Technology > Social ...,United States
3,Instagram,Computers Electronics and Technology > Social ...,United States
4,Twitter,Computers Electronics and Technology > Social ...,United States
5,Baidu,Computers Electronics and Technology > Search ...,China
6,Wikipedia,Reference Materials > Dictionaries and Encyclo...,United States
7,Yahoo,News & Media Publishers,United States
8,Yandex,Computers Electronics and Technology > Search ...,Russia
9,WhatsApp,Computers Electronics and Technology > Social ...,United States
10,xVideos,Adult,France
11,Pornhub,Adult,Canada
12,Amazon,eCommerce & Shopping > Marketplace,United States
13,XNXX,Adult,France
14,TikTok,Computers Electronics and Technology > Social ...,China
15,Yahoo JP,News & Media Publishers,Japan
16,Live,Computers Electronics and Technology > Email,United States
17,Docomo,Computers Electronics and Technology > Telecom...,Japan
18,LinkedIn,Computers Electronics and Technology > Social ...,United States
19,OpenAI,Computers Electronics and Technology > Compute...,United States
20,Reddit,Computers Electronics and Technology > Social ...,United States
21,Netflix,Arts & Entertainment > Streaming & Online TV,United States
22,Zen News,Community and Society > Community and Society ...,Russia
23,Microsoft 365,Computers Electronics and Technology > Program...,United States
24,VK,Computers Electronics and Technology > Social ...,Russia
25,Weather,Science and Education > Weather,United States
26,Bing,Computers Electronics and Technology > Search ...,United States
27,xHamster,Adult,Cyprus
28,Naver,News & Media Publishers,South Korea
29,Yandex Turbo Pages,News & Media Publishers,Russia
30,Mail.Ru,Computers Electronics and Technology > Email,Russia
31,Samsung,Computers Electronics and Technology > Consume...,South Korea
32,Discord,Computers Electronics and Technology > Social ...,United States
33,Max,Arts & Entertainment > Streaming & Online TV,United States
34,Twitch,Games > Video Games Consoles and Accessories,United States
35,Microsoft Online,Computers Electronics and Technology > Program...,United States
36,RealSRV,Adult,United States
37,Pinterest,Computers Electronics and Technology > Social ...,United States
38,Bilibili,Arts & Entertainment > Animation and Comics,China
39,Microsoft,Computers Electronics and Technology > Program...,United States
40,Roblox,Games > Video Games Consoles and Accessories,United States
41,Zoom,Computers Electronics and Technology > Compute...,United States
42,DuckDuckGo,Computers Electronics and Technology > Search ...,United States
43,QQ,News & Media Publishers,China
44,MSN,News & Media Publishers,United States
45,Stripchat,Adult,Cyprus
46,Fandom,Arts & Entertainment > Arts and Entertainment ...,United States
47,Quora,Reference Materials > Dictionaries and Encyclo...,United States
48,eBay,eCommerce & Shopping > Marketplace,United States
49,Globo,News & Media Publishers,Brazil

# DELETING A COLUMN

In [48]:
page1.columns[2]

'Similarweb top 50websites ranking(As of June\xa02023[1]'

In [10]:
# use the del keyword to delete a column
del page1['Similarweb top 50websites ranking(As of June\xa02023[1]']

In [11]:
page1

,Site,Domain Name,Category,Principal country/territory
0,Google Search,google.com,Computers Electronics and Technology > Search ...,United States
1,YouTube,youtube.com,Arts & Entertainment > Streaming & Online TV,United States
2,Facebook,facebook.com,Computers Electronics and Technology > Social ...,United States
3,Instagram,instagram.com,Computers Electronics and Technology > Social ...,United States
4,Twitter,twitter.com,Computers Electronics and Technology > Social ...,United States
5,Baidu,baidu.com,Computers Electronics and Technology > Search ...,China
6,Wikipedia,wikipedia.org,Reference Materials > Dictionaries and Encyclo...,United States
7,Yahoo,yahoo.com,News & Media Publishers,United States
8,Yandex,yandex.ru,Computers Electronics and Technology > Search ...,Russia
9,WhatsApp,whatsapp.com,Computers Electronics and Technology > Social ...,United States
10,xVideos,xvideos.com,Adult,France
11,Pornhub,pornhub.com,Adult,Canada
12,Amazon,amazon.com,eCommerce & Shopping > Marketplace,United States
13,XNXX,xnxx.com,Adult,France
14,TikTok,tiktok.com,Computers Electronics and Technology > Social ...,China
15,Yahoo JP,yahoo.co.jp,News & Media Publishers,Japan
16,Live,live.com,Computers Electronics and Technology > Email,United States
17,Docomo,docomo.ne.jp,Computers Electronics and Technology > Telecom...,Japan
18,LinkedIn,linkedin.com,Computers Electronics and Technology > Social ...,United States
19,OpenAI,openai.com,Computers Electronics and Technology > Compute...,United States
20,Reddit,reddit.com,Computers Electronics and Technology > Social ...,United States
21,Netflix,netflix.com,Arts & Entertainment > Streaming & Online TV,United States
22,Zen News,dzen.ru,Community and Society > Community and Society ...,Russia
23,Microsoft 365,office.com,Computers Electronics and Technology > Program...,United States
24,VK,vk.com,Computers Electronics and Technology > Social ...,Russia
25,Weather,weather.com,Science and Education > Weather,United States
26,Bing,bing.com,Computers Electronics and Technology > Search ...,United States
27,xHamster,xhamster.com,Adult,Cyprus
28,Naver,naver.com,News & Media Publishers,South Korea
29,Yandex Turbo Pages,turbopages.org,News & Media Publishers,Russia
30,Mail.Ru,mail.ru,Computers Electronics and Technology > Email,Russia
31,Samsung,samsung.com,Computers Electronics and Technology > Consume...,South Korea
32,Discord,discord.com,Computers Electronics and Technology > Social ...,United States
33,Max,max.com,Arts & Entertainment > Streaming & Online TV,United States
34,Twitch,twitch.tv,Games > Video Games Consoles and Accessories,United States
35,Microsoft Online,microsoftonline.com,Computers Electronics and Technology > Program...,United States
36,RealSRV,realsrv.com,Adult,United States
37,Pinterest,pinterest.com,Computers Electronics and Technology > Social ...,United States
38,Bilibili,bilibili.com,Arts & Entertainment > Animation and Comics,China
39,Microsoft,microsoft.com,Computers Electronics and Technology > Program...,United States
40,Roblox,roblox.com,Games > Video Games Consoles and Accessories,United States
41,Zoom,zoom.us,Computers Electronics and Technology > Compute...,United States
42,DuckDuckGo,duckduckgo.com,Computers Electronics and Technology > Search ...,United States
43,QQ,qq.com,News & Media Publishers,China
44,MSN,msn.com,News & Media Publishers,United States
45,Stripchat,stripchat.com,Adult,Cyprus
46,Fandom,fandom.com,Arts & Entertainment > Arts and Entertainment ...,United States
47,Quora,quora.com,Reference Materials > Dictionaries and Encyclo...,United States
48,eBay,ebay.com,eCommerce & Shopping > Marketplace,United States
49,Globo,globo.com,News & Media Publishers,Brazil

# deleting a row

In [12]:
#to drop a row use the drop function
page1.drop([1])

,Site,Domain Name,Category,Principal country/territory
0,Google Search,google.com,Computers Electronics and Technology > Search ...,United States
2,Facebook,facebook.com,Computers Electronics and Technology > Social ...,United States
3,Instagram,instagram.com,Computers Electronics and Technology > Social ...,United States
4,Twitter,twitter.com,Computers Electronics and Technology > Social ...,United States
5,Baidu,baidu.com,Computers Electronics and Technology > Search ...,China
6,Wikipedia,wikipedia.org,Reference Materials > Dictionaries and Encyclo...,United States
7,Yahoo,yahoo.com,News & Media Publishers,United States
8,Yandex,yandex.ru,Computers Electronics and Technology > Search ...,Russia
9,WhatsApp,whatsapp.com,Computers Electronics and Technology > Social ...,United States
10,xVideos,xvideos.com,Adult,France
11,Pornhub,pornhub.com,Adult,Canada
12,Amazon,amazon.com,eCommerce & Shopping > Marketplace,United States
13,XNXX,xnxx.com,Adult,France
14,TikTok,tiktok.com,Computers Electronics and Technology > Social ...,China
15,Yahoo JP,yahoo.co.jp,News & Media Publishers,Japan
16,Live,live.com,Computers Electronics and Technology > Email,United States
17,Docomo,docomo.ne.jp,Computers Electronics and Technology > Telecom...,Japan
18,LinkedIn,linkedin.com,Computers Electronics and Technology > Social ...,United States
19,OpenAI,openai.com,Computers Electronics and Technology > Compute...,United States
20,Reddit,reddit.com,Computers Electronics and Technology > Social ...,United States
21,Netflix,netflix.com,Arts & Entertainment > Streaming & Online TV,United States
22,Zen News,dzen.ru,Community and Society > Community and Society ...,Russia
23,Microsoft 365,office.com,Computers Electronics and Technology > Program...,United States
24,VK,vk.com,Computers Electronics and Technology > Social ...,Russia
25,Weather,weather.com,Science and Education > Weather,United States
26,Bing,bing.com,Computers Electronics and Technology > Search ...,United States
27,xHamster,xhamster.com,Adult,Cyprus
28,Naver,naver.com,News & Media Publishers,South Korea
29,Yandex Turbo Pages,turbopages.org,News & Media Publishers,Russia
30,Mail.Ru,mail.ru,Computers Electronics and Technology > Email,Russia
31,Samsung,samsung.com,Computers Electronics and Technology > Consume...,South Korea
32,Discord,discord.com,Computers Electronics and Technology > Social ...,United States
33,Max,max.com,Arts & Entertainment > Streaming & Online TV,United States
34,Twitch,twitch.tv,Games > Video Games Consoles and Accessories,United States
35,Microsoft Online,microsoftonline.com,Computers Electronics and Technology > Program...,United States
36,RealSRV,realsrv.com,Adult,United States
37,Pinterest,pinterest.com,Computers Electronics and Technology > Social ...,United States
38,Bilibili,bilibili.com,Arts & Entertainment > Animation and Comics,China
39,Microsoft,microsoft.com,Computers Electronics and Technology > Program...,United States
40,Roblox,roblox.com,Games > Video Games Consoles and Accessories,United States
41,Zoom,zoom.us,Computers Electronics and Technology > Compute...,United States
42,DuckDuckGo,duckduckgo.com,Computers Electronics and Technology > Search ...,United States
43,QQ,qq.com,News & Media Publishers,China
44,MSN,msn.com,News & Media Publishers,United States
45,Stripchat,stripchat.com,Adult,Cyprus
46,Fandom,fandom.com,Arts & Entertainment > Arts and Entertainment ...,United States
47,Quora,quora.com,Reference Materials > Dictionaries and Encyclo...,United States
48,eBay,ebay.com,eCommerce & Shopping > Marketplace,United States
49,Globo,globo.com,News & Media Publishers,Brazil

# unique items in a column

In [13]:
#nunique works for a dataframe while unique works for a column
page1.nunique()

Site                           50
Domain Name                    50
Category                       17
Principal country/territory     9
dtype: int64

In [14]:
page1["Principal country/territory"].value_counts()

United States    31
Russia            5
China             4
South Korea       2
Cyprus            2
France            2
Japan             2
Canada            1
Brazil            1
Name: Principal country/territory, dtype: int64

In [15]:
eng=pd.read_excel("Engineering.xlsx")
eng

          Student Name Department fee  MTH 102  CIT 142  PHY 192  BIO 101
0       Samson Popoola           paid       45       69       55       80
1        Abike Omotayo           paid       23       73       45       75
2       Chinedu Okafor         unpaid       67       56       56       90
3         Bisola Alabi           paid       54       87       34       74
4     Inemesit Patrick           paid       66       78       50       68
5      Moshood Ololade           paid       47       60       56       45
6    Akinnibosun Funke         unpaid       79       63       89       60
7        Vivian Udeogu           paid       88       45       39       57
8      Temitope Kazeem           paid       56       89       72       89
9       Okosun Mistura           paid       40       56       74       30
10      Pascal Ifeanyi         unpaid       50       71       65       40
11      Obafemi Badmus           paid       40       63       48       87
12  Akinleye Testimony         unpaid       60       45       67       69

In [16]:
eng.columns

Index(['Student Name', 'Department fee', 'MTH 102', 'CIT 142', 'PHY 192',
       'BIO 101'],
      dtype='object')

In [17]:
eng.dtypes

Student Name      object
Department fee    object
MTH 102            int64
CIT 142            int64
PHY 192            int64
BIO 101            int64
dtype: object

# create a new column

In [18]:
eng["total"]=0
eng[["average","max"]]=[0,0]

In [19]:
eng.shape

(13, 9)

In [20]:
eng

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
0,Samson Popoola,paid,45,69,55,80,0,0,0
1,Abike Omotayo,paid,23,73,45,75,0,0,0
2,Chinedu Okafor,unpaid,67,56,56,90,0,0,0
3,Bisola Alabi,paid,54,87,34,74,0,0,0
4,Inemesit Patrick,paid,66,78,50,68,0,0,0
5,Moshood Ololade,paid,47,60,56,45,0,0,0
6,Akinnibosun Funke,unpaid,79,63,89,60,0,0,0
7,Vivian Udeogu,paid,88,45,39,57,0,0,0
8,Temitope Kazeem,paid,56,89,72,89,0,0,0
9,Okosun Mistura,paid,40,56,74,30,0,0,0
10,Pascal Ifeanyi,unpaid,50,71,65,40,0,0,0
11,Obafemi Badmus,paid,40,63,48,87,0,0,0
12,Akinleye Testimony,unpaid,60,45,67,69,0,0,0

In [21]:
eng.dtypes

Student Name      object
Department fee    object
MTH 102            int64
CIT 142            int64
PHY 192            int64
BIO 101            int64
total              int64
average            int64
max                int64
dtype: object

In [22]:
eng[["MTH 102","CIT 142"]]

    MTH 102  CIT 142
0        45       69
1        23       73
2        67       56
3        54       87
4        66       78
5        47       60
6        79       63
7        88       45
8        56       89
9        40       56
10       50       71
11       40       63
12       60       45

# summing a column

In [23]:
#vertical summation of 1 column(top to bottom)

eng["MTH 102"].sum()

715

In [24]:
#total marks obtained in MTH 102 and BIO 101
eng[["MTH 102","BIO 101"]].sum()

MTH 102    715
BIO 101    864
dtype: int64

# summing horizontally (axis = 1)

In [25]:
horsum=eng[["MTH 102","BIO 101","CIT 142","PHY 192"]].sum(axis=1)
# horizontal summation: axis=1
horsum

0     249
1     216
2     269
3     249
4     262
5     208
6     291
7     229
8     306
9     200
10    226
11    238
12    241
dtype: int64

In [26]:
eng["total"]= horsum
eng

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
0,Samson Popoola,paid,45,69,55,80,249,0,0
1,Abike Omotayo,paid,23,73,45,75,216,0,0
2,Chinedu Okafor,unpaid,67,56,56,90,269,0,0
3,Bisola Alabi,paid,54,87,34,74,249,0,0
4,Inemesit Patrick,paid,66,78,50,68,262,0,0
5,Moshood Ololade,paid,47,60,56,45,208,0,0
6,Akinnibosun Funke,unpaid,79,63,89,60,291,0,0
7,Vivian Udeogu,paid,88,45,39,57,229,0,0
8,Temitope Kazeem,paid,56,89,72,89,306,0,0
9,Okosun Mistura,paid,40,56,74,30,200,0,0
10,Pascal Ifeanyi,unpaid,50,71,65,40,226,0,0
11,Obafemi Badmus,paid,40,63,48,87,238,0,0
12,Akinleye Testimony,unpaid,60,45,67,69,241,0,0

In [27]:
#calculating the max of the rows

eng[["MTH 102","BIO 101","CIT 142","PHY 192"]].max(axis=1)
maxvar=eng[["MTH 102","BIO 101","CIT 142","PHY 192"]].max(axis=1)
maxvar

0     80
1     75
2     90
3     87
4     78
5     60
6     89
7     88
8     89
9     74
10    71
11    87
12    69
dtype: int64

In [28]:
eng["max"]=maxvar
eng

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
0,Samson Popoola,paid,45,69,55,80,249,0,80
1,Abike Omotayo,paid,23,73,45,75,216,0,75
2,Chinedu Okafor,unpaid,67,56,56,90,269,0,90
3,Bisola Alabi,paid,54,87,34,74,249,0,87
4,Inemesit Patrick,paid,66,78,50,68,262,0,78
5,Moshood Ololade,paid,47,60,56,45,208,0,60
6,Akinnibosun Funke,unpaid,79,63,89,60,291,0,89
7,Vivian Udeogu,paid,88,45,39,57,229,0,88
8,Temitope Kazeem,paid,56,89,72,89,306,0,89
9,Okosun Mistura,paid,40,56,74,30,200,0,74
10,Pascal Ifeanyi,unpaid,50,71,65,40,226,0,71
11,Obafemi Badmus,paid,40,63,48,87,238,0,87
12,Akinleye Testimony,unpaid,60,45,67,69,241,0,69

In [29]:
# calculating the average of the rows

eng[["MTH 102","BIO 101","CIT 142","PHY 192"]].mean(axis=1)
avgvar=eng[["MTH 102","BIO 101","CIT 142","PHY 192"]].mean(axis=1)
avgvar

0     62.25
1     54.00
2     67.25
3     62.25
4     65.50
5     52.00
6     72.75
7     57.25
8     76.50
9     50.00
10    56.50
11    59.50
12    60.25
dtype: float64

In [30]:
eng["average"]=avgvar
eng

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
0,Samson Popoola,paid,45,69,55,80,249,62.25,80
1,Abike Omotayo,paid,23,73,45,75,216,54.00,75
2,Chinedu Okafor,unpaid,67,56,56,90,269,67.25,90
3,Bisola Alabi,paid,54,87,34,74,249,62.25,87
4,Inemesit Patrick,paid,66,78,50,68,262,65.50,78
5,Moshood Ololade,paid,47,60,56,45,208,52.00,60
6,Akinnibosun Funke,unpaid,79,63,89,60,291,72.75,89
7,Vivian Udeogu,paid,88,45,39,57,229,57.25,88
8,Temitope Kazeem,paid,56,89,72,89,306,76.50,89
9,Okosun Mistura,paid,40,56,74,30,200,50.00,74
10,Pascal Ifeanyi,unpaid,50,71,65,40,226,56.50,71
11,Obafemi Badmus,paid,40,63,48,87,238,59.50,87
12,Akinleye Testimony,unpaid,60,45,67,69,241,60.25,69

# counting values in a column

In [31]:
#number of students that have paid and the ones that have not paid
#value_counts() is used to count items in a column

page1["Principal country/territory"].value_counts

<bound method IndexOpsMixin.value_counts of 0     United States
1     United States
2     United States
3     United States
4     United States
5             China
6     United States
7     United States
8            Russia
9     United States
10           France
11           Canada
12    United States
13           France
14            China
15            Japan
16    United States
17            Japan
18    United States
19    United States
20    United States
21    United States
22           Russia
23    United States
24           Russia
25    United States
26    United States
27           Cyprus
28      South Korea
29           Russia
30           Russia
31      South Korea
32    United States
33    United States
34    United States
35    United States
36    United States
37    United States
38            China
39    United States
40    United States
41    United States
42    United States
43            China
44    United States
45           Cyprus
46    United States
47    United States
48    United States
49           Brazil
Name: Principal country/territory, dtype: object>

# arranging items in a column

In [32]:
#sort_values is a function/method used to sort items in a column
#drop=true is used to remove the previous index
#inplace = true makes the record permanent

eng.sort_values("Student Name").reset_index(drop=True,inplace=True)
eng

#or assigning it to a defined variable makes the sorting permanent
eng= eng.sort_values("Student Name").reset_index(drop=True)

In [33]:
eng

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
0,Abike Omotayo,paid,23,73,45,75,216,54.00,75
1,Akinleye Testimony,unpaid,60,45,67,69,241,60.25,69
2,Akinnibosun Funke,unpaid,79,63,89,60,291,72.75,89
3,Bisola Alabi,paid,54,87,34,74,249,62.25,87
4,Chinedu Okafor,unpaid,67,56,56,90,269,67.25,90
5,Inemesit Patrick,paid,66,78,50,68,262,65.50,78
6,Moshood Ololade,paid,47,60,56,45,208,52.00,60
7,Obafemi Badmus,paid,40,63,48,87,238,59.50,87
8,Okosun Mistura,paid,40,56,74,30,200,50.00,74
9,Pascal Ifeanyi,unpaid,50,71,65,40,226,56.50,71
10,Samson Popoola,paid,45,69,55,80,249,62.25,80
11,Temitope Kazeem,paid,56,89,72,89,306,76.50,89
12,Vivian Udeogu,paid,88,45,39,57,229,57.25,88

In [34]:
eng.sort_values("Student Name").reset_index(drop=True,inplace=True)
eng

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
0,Abike Omotayo,paid,23,73,45,75,216,54.00,75
1,Akinleye Testimony,unpaid,60,45,67,69,241,60.25,69
2,Akinnibosun Funke,unpaid,79,63,89,60,291,72.75,89
3,Bisola Alabi,paid,54,87,34,74,249,62.25,87
4,Chinedu Okafor,unpaid,67,56,56,90,269,67.25,90
5,Inemesit Patrick,paid,66,78,50,68,262,65.50,78
6,Moshood Ololade,paid,47,60,56,45,208,52.00,60
7,Obafemi Badmus,paid,40,63,48,87,238,59.50,87
8,Okosun Mistura,paid,40,56,74,30,200,50.00,74
9,Pascal Ifeanyi,unpaid,50,71,65,40,226,56.50,71
10,Samson Popoola,paid,45,69,55,80,249,62.25,80
11,Temitope Kazeem,paid,56,89,72,89,306,76.50,89
12,Vivian Udeogu,paid,88,45,39,57,229,57.25,88

# locate Method

In [54]:
#.loc[] and iloc[] are the only method that uses []bracket, others uses the parenthesis()
#iloc [ ]means integer location
#takes two arguments row,column
#loc can take integer and number
#loc(and you use the row first then column name)

eng.iloc[0,0]="David Nwanne"

In [56]:
eng

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
0,David Nwanne,David Nwanne,23,73,45,75,216,54.00,75
1,Akinleye Testimony,David Nwanne,60,45,67,69,241,60.25,69
2,Akinnibosun Funke,unpaid,79,63,89,60,291,72.75,89
3,Bisola Alabi,paid,54,87,34,74,249,62.25,87
4,Chinedu Okafor,unpaid,67,56,56,90,269,67.25,90
5,Inemesit Patrick,paid,66,78,50,68,262,65.50,78
6,Moshood Ololade,paid,47,60,56,45,208,52.00,60
7,Obafemi Badmus,paid,40,63,48,87,238,59.50,87
8,Okosun Mistura,paid,40,56,74,30,200,50.00,74
9,Pascal Ifeanyi,unpaid,50,71,65,40,226,56.50,71
10,Samson Popoola,paid,45,69,55,80,249,62.25,80
11,Temitope Kazeem,paid,56,89,72,89,306,76.50,89
12,Vivian Udeogu,paid,88,45,39,57,229,57.25,88

In [37]:
eng.loc[5]

Student Name      Inemesit Patrick
Department fee                paid
MTH 102                         66
CIT 142                         78
PHY 192                         50
BIO 101                         68
total                          262
average                       65.5
max                             78
Name: 5, dtype: object

In [38]:
eng.loc[0,"Student Name"]

'David Nwanne'

# slicing using ":"

In [39]:
eng.loc[2:5]

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
2,Akinnibosun Funke,unpaid,79,63,89,60,291,72.75,89
3,Bisola Alabi,paid,54,87,34,74,249,62.25,87
4,Chinedu Okafor,unpaid,67,56,56,90,269,67.25,90
5,Inemesit Patrick,paid,66,78,50,68,262,65.50,78

In [40]:
eng.loc[2:9]

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
2,Akinnibosun Funke,unpaid,79,63,89,60,291,72.75,89
3,Bisola Alabi,paid,54,87,34,74,249,62.25,87
4,Chinedu Okafor,unpaid,67,56,56,90,269,67.25,90
5,Inemesit Patrick,paid,66,78,50,68,262,65.50,78
6,Moshood Ololade,paid,47,60,56,45,208,52.00,60
7,Obafemi Badmus,paid,40,63,48,87,238,59.50,87
8,Okosun Mistura,paid,40,56,74,30,200,50.00,74
9,Pascal Ifeanyi,unpaid,50,71,65,40,226,56.50,71

In [41]:
eng.iloc[10,4]

55

# head is a function used to  show first five rows in a dataframe by default,
# without an argument

In [42]:
#head() is a function 
eng.head()

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
0,David Nwanne,paid,23,73,45,75,216,54.00,75
1,Akinleye Testimony,unpaid,60,45,67,69,241,60.25,69
2,Akinnibosun Funke,unpaid,79,63,89,60,291,72.75,89
3,Bisola Alabi,paid,54,87,34,74,249,62.25,87
4,Chinedu Okafor,unpaid,67,56,56,90,269,67.25,90

In [43]:
eng.head(10)

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
0,David Nwanne,paid,23,73,45,75,216,54.00,75
1,Akinleye Testimony,unpaid,60,45,67,69,241,60.25,69
2,Akinnibosun Funke,unpaid,79,63,89,60,291,72.75,89
3,Bisola Alabi,paid,54,87,34,74,249,62.25,87
4,Chinedu Okafor,unpaid,67,56,56,90,269,67.25,90
5,Inemesit Patrick,paid,66,78,50,68,262,65.50,78
6,Moshood Ololade,paid,47,60,56,45,208,52.00,60
7,Obafemi Badmus,paid,40,63,48,87,238,59.50,87
8,Okosun Mistura,paid,40,56,74,30,200,50.00,74
9,Pascal Ifeanyi,unpaid,50,71,65,40,226,56.50,71

# .tail
extracts last 5 rows in a dataframe

In [44]:
eng.tail()

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,total,average,max
8,Okosun Mistura,paid,40,56,74,30,200,50.00,74
9,Pascal Ifeanyi,unpaid,50,71,65,40,226,56.50,71
10,Samson Popoola,paid,45,69,55,80,249,62.25,80
11,Temitope Kazeem,paid,56,89,72,89,306,76.50,89
12,Vivian Udeogu,paid,88,45,39,57,229,57.25,88

# exporting the file back

In [45]:
eng.to_excel("updated Engineering.xlsx", index=False)